<div>
<h1>Hello there!</h1>
<form action = '/birthday' method ='post'>
<fieldset>
<label for ="name">What's your name?
<br>
<input class ='name' type ="text" name ="name" placeholder = "Enter your name...">
</label>

<label class ='birthday' for ="when-is-your-birthday">When's your birthday?</label>
<span class ="day_month">
  <label for ="day">Day:
  <input type ="text" name ="day">
  </label>
  <label for ="birthday_month">Month:
<select name ="birthday_month" id ="months">
  <option value="January">January</option>
  <option value="February">February</option>
  <option value="March">March</option>
  <option value="April">April</option>
  <option value="May">May</option>
  <option value="June">June</option>
  <option value="July">July</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="October">October</option>
  <option value="November">November</option>
  <option value="December">December</option>
</select>
</label>

</span>
<input class ='btn' type ='submit' value ='Submit'>
</fieldset>
</form>
</div>

<style>
div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  font-family: sans-serif;
}

.day_month {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name {
  width: 100%;
  margin: 10px;
  padding: 10px;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  color: orange;
  letter-spacing: 2mm;
}

fieldset {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
}

.birthday {
  padding-bottom: 0px;
}

.btn {
  height: 40px;
  border-radius: 5px;
}

select {
  padding: 8px;
  border-radius: 5px;
}

label {
  font-size: 2rem;
  padding: 1.2rem;
  font-weight: 200;
}

input {
  padding: 8px;
  border-radius: 5px;
}
</style>