<div>
<h1>Hello there!</h1>
<form action = '/birthday' method ='post'>
<fieldset>
<label for ='name'>What's your name?</label>
<input type ="text" name ="name" placeholder = "Enter your name...">
</fieldset>
</form>
</div>

<style>
div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  color: orange;
  letter-spacing: 2mm;
}